body {
    background-image: url(https://images.unsplash.com/photo-1586528116311-ad8dd3c8310d?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1740&q=80);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    height: 100vh;
}

.main-card {
    background-color: rgba(255, 255, 255, 0.655);
}

.text-shadow-dark {
    text-shadow: 1px 1px 20px black;
}

.text-shadow-light {
    text-shadow: 1px 1px 20px white;
}